@use "../abstracts/mixins" as *;

.title{
    span{
        margin-bottom: var(--fs-100);
        height: var(--fs-800);
        font-size: var(--fs-1000);
        overflow: hidden;
        color: var(--clr-light-green-500);
    }

    h2{
        font-size: var(--fs-400);
        text-align: left;
        color: var(--clr-gray-500);
    }

    p{
        text-align: left;
    }
}