//Lato Regular
@font-face {
    font-family: "Lato Regular";
    font-weight: 400;
    font-display: swap;
    src: url("../font/Lato/Lato-Regular.ttf");
}

//Lato Bold
@font-face {
    font-family: "Lato Bold";
    font-weight: 700;
    font-display: swap;
    src: url("../font/Lato/Lato-Bold.ttf");
}

//Ubuntu Medium
@font-face {
    font-family: "Ubuntu Medium";
    font-weight: 500;
    font-display: swap;
    src: url("../font/Ubuntu/Ubuntu-Medium.ttf");
}

//Ubuntu Medium
@font-face {
    font-family: "Ubuntu Bold";
    font-weight: 700;
    font-display: swap;
    src: url("../font/Ubuntu/Ubuntu-Bold.ttf");
}