$icomoon-font-family: "icon" !default;
$icomoon-font-path: "../font/icon/fonts" !default;

$icon-facebook: "\e900";
$icon-html: "\e901";
$icon-instagram: "\e902";
$icon-linkedin: "\e903";
$icon-spinner: "\e904";
$icon-twitter: "\e905";
$icon-whatsapp: "\e906";
$icon-youtube: "\e907";

