@charset "UTF-8";
:root {
  --font-base: 50%;
  --gap: 1.5rem;
  --regular: "Lato Regular", sans-serif;
  --bold: "Lato Bold", sans-serif;
  --t-medium: "Ubuntu Medium", sans-serif;
  --t-bold: "Ubuntu Bold", sans-serif;
  --clr-primary-500: #5C979F;
  --clr-neutral-500: #969696;
  --clr-gray-500: #707070;
  --clr-light-gray-500: #F9F9F9;
  --clr-light-green-500: #DDEDEF;
  --clr-light-blue-500: #EBF0F3;
  --clr-white-500: #fff;
  --clr-whatsapp-500: #25D366;
  --fs-100: 0.8rem;
  --fs-200: 1.6rem;
  --fs-300: 2.4rem;
  --fs-400: 3.2rem;
  --fs-500: 4rem;
  --fs-600: 4.8rem;
  --fs-700: 5.6rem;
  --fs-800: 6.4rem;
  --fs-900: 7.2rem;
  --fs-1000: 8rem;
  --x-small: 576px;
  --sm: 540px;
  --md: 720px;
  --lg: 960px;
  --xl: 1140px;
}
@media only screen and (min-width: 720px) {
  :root {
    --font-base: 62.5%;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
  color: inherit;
  font-size: inherit;
}

span,
abbr {
  font-family: inherit !important;
}

abbr {
  text-decoration: none;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
  list-style-position: inside;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  overflow-x: hidden;
}

a:not([class]) {
  -webkit-text-decoration-skip: ink;
  text-decoration-skip: auto;
}

i {
  color: inherit !important;
}
i::before {
  color: inherit !important;
}

img {
  margin: 0;
  padding: 0;
  max-width: 100%;
  height: auto;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
  outline: none;
}

input,
textarea {
  width: 100%;
  height: 100%;
  padding: var(--fs-200);
  font-family: var(--regular) !important;
  color: var(--clr-gray-500) !important;
  line-height: 1.5;
  border: none;
  border-bottom: 2px solid var(--clr-gray-500);
  border-radius: 0;
  background: none;
  transform: scale(1);
  -webkit-appearance: none !important;
  -webkit-border-radius: 0 !important;
  transition: all 300ms ease-in-out;
}
input:focus,
textarea:focus {
  border-color: var(--clr-primary-500);
}
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  font-size: var(--fs-200) !important;
  color: inherit;
}
input::-moz-placeholder,
textarea::-moz-placeholder {
  font-family: var(--t-medium);
  font-size: var(--fs-200) !important;
  text-transform: uppercase;
  color: var(--clr-gray-500);
}
input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  font-family: var(--t-medium);
  font-size: var(--fs-200) !important;
  text-transform: uppercase;
  color: var(--clr-gray-500);
}
input::-ms-input-placeholder,
textarea::-ms-input-placeholder {
  font-family: var(--t-medium);
  font-size: var(--fs-200) !important;
  text-transform: uppercase;
  color: var(--clr-gray-500);
}
input::placeholder,
textarea::placeholder {
  font-family: var(--t-medium);
  font-size: var(--fs-200) !important;
  text-transform: uppercase;
  color: var(--clr-gray-500);
}
input:focus,
textarea:focus {
  background: #f8f8f8;
}
@media only screen and (max-width: 576px) {
  input::-webkit-input-placeholder, input::-moz-placeholder, input:-ms-input-placeholder, input::-ms-input-placeholder, input::placeholder,
textarea::-webkit-input-placeholder,
textarea::-moz-placeholder,
textarea:-ms-input-placeholder,
textarea::-ms-input-placeholder,
textarea::placeholder {
    font-size: 1.5rem !important;
  }
}

textarea {
  min-height: 15rem;
  resize: none;
}

@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }

  *,
*::before,
*::after {
    -webkit-animation-duration: 0.01ms !important;
    animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
* {
  font-family: var(--regular) !important;
}

html {
  font-size: var(--font-base) !important;
  color: var(--clr-neutral-500) !important;
}

body {
  font-size: var(--fs-200);
}

h1,
h2,
h3,
h4 {
  font-size: inherit;
  line-height: 1.1;
  color: var(--clr-gray-500);
}
h1:not(h2),
h2:not(h2),
h3:not(h2),
h4:not(h2) {
  font-family: var(--t-bold) !important;
}

h2 {
  font-family: var(--t-medium) !important;
}

strong,
b {
  font-family: var(--medium) !important;
}

a {
  text-decoration: none;
  color: inherit;
  font-family: inherit !important;
}
a:hover, a:focus {
  text-decoration: none;
}

address {
  font: inherit;
}

body {
  min-height: 100vh;
}
@media only screen and (max-width: 576px) {
  body {
    display: block;
  }
}

.a-rotate {
  animation: rotate 2s infinite linear;
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.bg-primary-500 {
  background-color: var(--clr-primary-500) !important;
}

.bg-neutral-500 {
  background-color: var(--clr-neutral-500) !important;
}

.bg-gray-500 {
  background-color: var(--clr-gray-500) !important;
}

.bg-light-gray-500 {
  background-color: var(--clr-light-gray-500) !important;
}

.bg-light-green-500 {
  background-color: var(--clr-light-green-500) !important;
}

.bg-light-blue-500 {
  background-color: var(--clr-light-blue-500) !important;
}

.bg-white-500 {
  background-color: var(--clr-white-500) !important;
}

.bg-whatsapp-500 {
  background-color: var(--clr-whatsapp-500) !important;
}

.clr-primary-500 {
  color: var(--clr-primary-500) !important;
}

.clr-neutral-500 {
  color: var(--clr-neutral-500) !important;
}

.clr-gray-500 {
  color: var(--clr-gray-500) !important;
}

.clr-light-gray-500 {
  color: var(--clr-light-gray-500) !important;
}

.clr-light-green-500 {
  color: var(--clr-light-green-500) !important;
}

.clr-light-blue-500 {
  color: var(--clr-light-blue-500) !important;
}

.clr-white-500 {
  color: var(--clr-white-500) !important;
}

.clr-whatsapp-500 {
  color: var(--clr-whatsapp-500) !important;
}

.container {
  display: block;
  margin: 0 auto;
  padding: 0 calc(var(--gap) * 2);
  width: 100%;
}
@media only screen and (min-width: 540px) {
  .container {
    margin: 0 auto;
    padding: 0 var(--gap);
    max-width: var(--sm);
  }
}
@media only screen and (min-width: 720px) {
  .container {
    margin: 0 auto;
    padding: 0 var(--gap);
    max-width: var(--md);
  }
}
@media only screen and (min-width: 960px) {
  .container {
    margin: 0 auto;
    padding: 0 var(--gap);
    max-width: var(--lg);
  }
}
@media only screen and (min-width: 1140px) {
  .container {
    margin: 0 auto;
    padding: 0 var(--gap);
    max-width: var(--xl);
  }
}

.container-fluid {
  display: block;
  margin: 0 auto;
  padding: 0 calc(var(--gap) * 2);
  width: 100%;
}

.d-none {
  display: none !important;
}

.p-fixed {
  position: -webkit-sticky !important;
  position: sticky !important;
  top: 0;
  left: 0;
  transition: position 300ms ease-in-out;
}

.d-inline {
  width: 100%;
  display: inline-block;
}

.d-flex {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.jc-between {
  justify-content: space-between;
}

.jc-center {
  justify-content: center;
}

.ai-center {
  align-items: center;
}

.f-row {
  flex-direction: column;
}

.f-1 {
  font-size: calc(var(--fs-100) * 1);
}

.f-2 {
  font-size: calc(var(--fs-100) * 2);
}

.f-3 {
  font-size: calc(var(--fs-100) * 3);
}

.f-4 {
  font-size: calc(var(--fs-100) * 4);
}

.f-5 {
  font-size: calc(var(--fs-100) * 5);
}

.f-6 {
  font-size: calc(var(--fs-100) * 6);
}

.f-7 {
  font-size: calc(var(--fs-100) * 7);
}

.f-8 {
  font-size: calc(var(--fs-100) * 8);
}

.f-9 {
  font-size: calc(var(--fs-100) * 9);
}

.f-10 {
  font-size: calc(var(--fs-100) * 10);
}

.gp-1 {
  gap: calc(var(--fs-100) * 1);
}

.gp-2 {
  gap: calc(var(--fs-100) * 2);
}

.gp-3 {
  gap: calc(var(--fs-100) * 3);
}

.gp-4 {
  gap: calc(var(--fs-100) * 4);
}

.gp-5 {
  gap: calc(var(--fs-100) * 5);
}

.gp-6 {
  gap: calc(var(--fs-100) * 6);
}

.gp-7 {
  gap: calc(var(--fs-100) * 7);
}

.gp-8 {
  gap: calc(var(--fs-100) * 8);
}

.gp-9 {
  gap: calc(var(--fs-100) * 9);
}

.gp-10 {
  gap: calc(var(--fs-100) * 10);
}

.grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: calc(var(--gap) * 2);
}

.img-fluid {
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.my-1 {
  margin: calc(var(--fs-100) * 1) 0;
}

.mx-1 {
  margin: 0 calc(var(--fs-100) * 1);
}

.mt-1 {
  margin-top: calc(var(--fs-100) * 1);
}

.mb-1 {
  margin-bottom: calc(var(--fs-100) * 1);
}

.ml-1 {
  margin-left: calc(var(--fs-100) * 1);
}

.mr-1 {
  margin-right: calc(var(--fs-100) * 1);
}

.my-2 {
  margin: calc(var(--fs-100) * 2) 0;
}

.mx-2 {
  margin: 0 calc(var(--fs-100) * 2);
}

.mt-2 {
  margin-top: calc(var(--fs-100) * 2);
}

.mb-2 {
  margin-bottom: calc(var(--fs-100) * 2);
}

.ml-2 {
  margin-left: calc(var(--fs-100) * 2);
}

.mr-2 {
  margin-right: calc(var(--fs-100) * 2);
}

.my-3 {
  margin: calc(var(--fs-100) * 3) 0;
}

.mx-3 {
  margin: 0 calc(var(--fs-100) * 3);
}

.mt-3 {
  margin-top: calc(var(--fs-100) * 3);
}

.mb-3 {
  margin-bottom: calc(var(--fs-100) * 3);
}

.ml-3 {
  margin-left: calc(var(--fs-100) * 3);
}

.mr-3 {
  margin-right: calc(var(--fs-100) * 3);
}

.my-4 {
  margin: calc(var(--fs-100) * 4) 0;
}

.mx-4 {
  margin: 0 calc(var(--fs-100) * 4);
}

.mt-4 {
  margin-top: calc(var(--fs-100) * 4);
}

.mb-4 {
  margin-bottom: calc(var(--fs-100) * 4);
}

.ml-4 {
  margin-left: calc(var(--fs-100) * 4);
}

.mr-4 {
  margin-right: calc(var(--fs-100) * 4);
}

.my-5 {
  margin: calc(var(--fs-100) * 5) 0;
}

.mx-5 {
  margin: 0 calc(var(--fs-100) * 5);
}

.mt-5 {
  margin-top: calc(var(--fs-100) * 5);
}

.mb-5 {
  margin-bottom: calc(var(--fs-100) * 5);
}

.ml-5 {
  margin-left: calc(var(--fs-100) * 5);
}

.mr-5 {
  margin-right: calc(var(--fs-100) * 5);
}

.my-6 {
  margin: calc(var(--fs-100) * 6) 0;
}

.mx-6 {
  margin: 0 calc(var(--fs-100) * 6);
}

.mt-6 {
  margin-top: calc(var(--fs-100) * 6);
}

.mb-6 {
  margin-bottom: calc(var(--fs-100) * 6);
}

.ml-6 {
  margin-left: calc(var(--fs-100) * 6);
}

.mr-6 {
  margin-right: calc(var(--fs-100) * 6);
}

.my-7 {
  margin: calc(var(--fs-100) * 7) 0;
}

.mx-7 {
  margin: 0 calc(var(--fs-100) * 7);
}

.mt-7 {
  margin-top: calc(var(--fs-100) * 7);
}

.mb-7 {
  margin-bottom: calc(var(--fs-100) * 7);
}

.ml-7 {
  margin-left: calc(var(--fs-100) * 7);
}

.mr-7 {
  margin-right: calc(var(--fs-100) * 7);
}

.my-8 {
  margin: calc(var(--fs-100) * 8) 0;
}

.mx-8 {
  margin: 0 calc(var(--fs-100) * 8);
}

.mt-8 {
  margin-top: calc(var(--fs-100) * 8);
}

.mb-8 {
  margin-bottom: calc(var(--fs-100) * 8);
}

.ml-8 {
  margin-left: calc(var(--fs-100) * 8);
}

.mr-8 {
  margin-right: calc(var(--fs-100) * 8);
}

.my-9 {
  margin: calc(var(--fs-100) * 9) 0;
}

.mx-9 {
  margin: 0 calc(var(--fs-100) * 9);
}

.mt-9 {
  margin-top: calc(var(--fs-100) * 9);
}

.mb-9 {
  margin-bottom: calc(var(--fs-100) * 9);
}

.ml-9 {
  margin-left: calc(var(--fs-100) * 9);
}

.mr-9 {
  margin-right: calc(var(--fs-100) * 9);
}

.my-10 {
  margin: calc(var(--fs-100) * 10) 0;
}

.mx-10 {
  margin: 0 calc(var(--fs-100) * 10);
}

.mt-10 {
  margin-top: calc(var(--fs-100) * 10);
}

.mb-10 {
  margin-bottom: calc(var(--fs-100) * 10);
}

.ml-10 {
  margin-left: calc(var(--fs-100) * 10);
}

.mr-10 {
  margin-right: calc(var(--fs-100) * 10);
}

.p-1 {
  padding: calc(var(--fs-100) * 1);
}

.py-1 {
  padding: calc(var(--fs-100) * 1) 0;
}

.px-1 {
  padding: 0 calc(var(--fs-100) * 1);
}

.pt-1 {
  padding-top: calc(var(--fs-100) * 1);
}

.pb-1 {
  padding-bottom: calc(var(--fs-100) * 1);
}

.pl-1 {
  padding-left: calc(var(--fs-100) * 1);
}

.pr-1 {
  padding-right: calc(var(--fs-100) * 1);
}

.p-2 {
  padding: calc(var(--fs-100) * 2);
}

.py-2 {
  padding: calc(var(--fs-100) * 2) 0;
}

.px-2 {
  padding: 0 calc(var(--fs-100) * 2);
}

.pt-2 {
  padding-top: calc(var(--fs-100) * 2);
}

.pb-2 {
  padding-bottom: calc(var(--fs-100) * 2);
}

.pl-2 {
  padding-left: calc(var(--fs-100) * 2);
}

.pr-2 {
  padding-right: calc(var(--fs-100) * 2);
}

.p-3 {
  padding: calc(var(--fs-100) * 3);
}

.py-3 {
  padding: calc(var(--fs-100) * 3) 0;
}

.px-3 {
  padding: 0 calc(var(--fs-100) * 3);
}

.pt-3 {
  padding-top: calc(var(--fs-100) * 3);
}

.pb-3 {
  padding-bottom: calc(var(--fs-100) * 3);
}

.pl-3 {
  padding-left: calc(var(--fs-100) * 3);
}

.pr-3 {
  padding-right: calc(var(--fs-100) * 3);
}

.p-4 {
  padding: calc(var(--fs-100) * 4);
}

.py-4 {
  padding: calc(var(--fs-100) * 4) 0;
}

.px-4 {
  padding: 0 calc(var(--fs-100) * 4);
}

.pt-4 {
  padding-top: calc(var(--fs-100) * 4);
}

.pb-4 {
  padding-bottom: calc(var(--fs-100) * 4);
}

.pl-4 {
  padding-left: calc(var(--fs-100) * 4);
}

.pr-4 {
  padding-right: calc(var(--fs-100) * 4);
}

.p-5 {
  padding: calc(var(--fs-100) * 5);
}

.py-5 {
  padding: calc(var(--fs-100) * 5) 0;
}

.px-5 {
  padding: 0 calc(var(--fs-100) * 5);
}

.pt-5 {
  padding-top: calc(var(--fs-100) * 5);
}

.pb-5 {
  padding-bottom: calc(var(--fs-100) * 5);
}

.pl-5 {
  padding-left: calc(var(--fs-100) * 5);
}

.pr-5 {
  padding-right: calc(var(--fs-100) * 5);
}

.p-6 {
  padding: calc(var(--fs-100) * 6);
}

.py-6 {
  padding: calc(var(--fs-100) * 6) 0;
}

.px-6 {
  padding: 0 calc(var(--fs-100) * 6);
}

.pt-6 {
  padding-top: calc(var(--fs-100) * 6);
}

.pb-6 {
  padding-bottom: calc(var(--fs-100) * 6);
}

.pl-6 {
  padding-left: calc(var(--fs-100) * 6);
}

.pr-6 {
  padding-right: calc(var(--fs-100) * 6);
}

.p-7 {
  padding: calc(var(--fs-100) * 7);
}

.py-7 {
  padding: calc(var(--fs-100) * 7) 0;
}

.px-7 {
  padding: 0 calc(var(--fs-100) * 7);
}

.pt-7 {
  padding-top: calc(var(--fs-100) * 7);
}

.pb-7 {
  padding-bottom: calc(var(--fs-100) * 7);
}

.pl-7 {
  padding-left: calc(var(--fs-100) * 7);
}

.pr-7 {
  padding-right: calc(var(--fs-100) * 7);
}

.p-8 {
  padding: calc(var(--fs-100) * 8);
}

.py-8 {
  padding: calc(var(--fs-100) * 8) 0;
}

.px-8 {
  padding: 0 calc(var(--fs-100) * 8);
}

.pt-8 {
  padding-top: calc(var(--fs-100) * 8);
}

.pb-8 {
  padding-bottom: calc(var(--fs-100) * 8);
}

.pl-8 {
  padding-left: calc(var(--fs-100) * 8);
}

.pr-8 {
  padding-right: calc(var(--fs-100) * 8);
}

.p-9 {
  padding: calc(var(--fs-100) * 9);
}

.py-9 {
  padding: calc(var(--fs-100) * 9) 0;
}

.px-9 {
  padding: 0 calc(var(--fs-100) * 9);
}

.pt-9 {
  padding-top: calc(var(--fs-100) * 9);
}

.pb-9 {
  padding-bottom: calc(var(--fs-100) * 9);
}

.pl-9 {
  padding-left: calc(var(--fs-100) * 9);
}

.pr-9 {
  padding-right: calc(var(--fs-100) * 9);
}

.p-10 {
  padding: calc(var(--fs-100) * 10);
}

.py-10 {
  padding: calc(var(--fs-100) * 10) 0;
}

.px-10 {
  padding: 0 calc(var(--fs-100) * 10);
}

.pt-10 {
  padding-top: calc(var(--fs-100) * 10);
}

.pb-10 {
  padding-bottom: calc(var(--fs-100) * 10);
}

.pl-10 {
  padding-left: calc(var(--fs-100) * 10);
}

.pr-10 {
  padding-right: calc(var(--fs-100) * 10);
}

.py-s {
  padding: calc(var(--fs-100) * 17) 0;
}

.pt-s {
  padding-top: calc(var(--fs-100) * 17);
}

.pb-s {
  padding-bottom: calc(var(--fs-100) * 17);
}

.radius {
  border-radius: 10px;
  overflow: hidden;
}

.shadow {
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.15);
}

.t-center {
  text-align: center;
}

.t-right {
  text-align: right;
}

.t-left {
  text-align: left;
}

.t-justify {
  text-align: justify;
}

.t-uppercase {
  text-transform: uppercase;
}

.title__index {
  margin-bottom: var(--fs-100);
  height: var(--fs-700);
  font-size: var(--fs-1000);
  line-height: 1.1 !important;
  overflow: hidden;
  color: var(--clr-light-green-500);
}
.title h2 {
  font-size: var(--fs-400);
  text-align: left;
  text-transform: uppercase;
  color: var(--clr-gray-500);
}
.title p {
  text-align: left;
}

.btn {
  display: inline-block !important;
  margin: 0;
  padding: var(--fs-300) var(--fs-500);
  cursor: pointer;
  outline: none;
  border: none;
  transform: scale(1);
  transition: transform 0.3s ease-in-out;
  line-height: 1.1 !important;
  font-family: var(--medium) !important;
  font-size: var(--fs-200);
  text-transform: uppercase;
}
.btn:active {
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}

.btn-block {
  display: block !important;
  width: 100%;
}

.btn-primary-500 {
  background-color: #5C979F;
  color: var(--clr-white-500);
  transition: background-color 300ms ease-in-out;
}
.btn-primary-500:hover {
  background-color: #49787f;
  transition: background-color 300ms ease-in-out;
}

.btn-neutral-500 {
  background-color: #969696;
  color: var(--clr-white-500);
  transition: all 300ms ease-in-out;
}
.btn-neutral-500:hover {
  color: var(--clr-neutral-500);
  background-color: var(--clr-white-500);
  transition: all 300ms ease-in-out;
}

.btn-gray-500 {
  background-color: #707070;
  color: var(--clr-white-500);
  transition: background-color 300ms ease-in-out;
}
.btn-gray-500:hover {
  background-color: #575757;
  transition: background-color 300ms ease-in-out;
}

.btn-light-gray-500 {
  background-color: #F9F9F9;
  color: var(--clr-white-500);
  transition: background-color 300ms ease-in-out;
}
.btn-light-gray-500:hover {
  background-color: #e0e0e0;
  transition: background-color 300ms ease-in-out;
}

.btn-light-green-500 {
  background-color: #DDEDEF;
  color: var(--clr-white-500);
  transition: background-color 300ms ease-in-out;
}
.btn-light-green-500:hover {
  background-color: #badbdf;
  transition: background-color 300ms ease-in-out;
}

.btn-light-blue-500 {
  background-color: #EBF0F3;
  color: var(--clr-white-500);
  transition: background-color 300ms ease-in-out;
}
.btn-light-blue-500:hover {
  background-color: #cbd8e0;
  transition: background-color 300ms ease-in-out;
}

.btn-white-500 {
  background-color: #fff;
  color: var(--clr-primary-500);
  transition: all 300ms ease-in-out;
}
.btn-white-500:hover {
  color: var(--clr-white-500);
  background-color: var(--clr-primary-500);
  transition: all 300ms ease-in-out;
}

.btn-whatsapp-500 {
  background-color: #25D366;
  color: var(--clr-white-500);
  transition: background-color 300ms ease-in-out;
}
.btn-whatsapp-500:hover {
  background-color: #1da851;
  transition: background-color 300ms ease-in-out;
}

.link-primary-500 {
  color: #5C979F;
  transition: all 300ms ease-in-out;
}
.link-primary-500:hover, .link-primary-500:focus {
  color: #49787f;
  transition: all 300ms ease-in-out;
}

.link-neutral-500 {
  color: #969696;
  transition: all 300ms ease-in-out;
}
.link-neutral-500:hover, .link-neutral-500:focus {
  color: var(--clr-primary-500);
  transition: all 300ms ease-in-out;
}

.link-gray-500 {
  color: #707070;
  transition: all 300ms ease-in-out;
}
.link-gray-500:hover, .link-gray-500:focus {
  color: var(--clr-primary-500);
  transition: all 300ms ease-in-out;
}

.link-light-gray-500 {
  color: #F9F9F9;
  transition: all 300ms ease-in-out;
}
.link-light-gray-500:hover, .link-light-gray-500:focus {
  color: #e0e0e0;
  transition: all 300ms ease-in-out;
}

.link-light-green-500 {
  color: #DDEDEF;
  transition: all 300ms ease-in-out;
}
.link-light-green-500:hover, .link-light-green-500:focus {
  color: #badbdf;
  transition: all 300ms ease-in-out;
}

.link-light-blue-500 {
  color: #EBF0F3;
  transition: all 300ms ease-in-out;
}
.link-light-blue-500:hover, .link-light-blue-500:focus {
  color: #cbd8e0;
  transition: all 300ms ease-in-out;
}

.link-white-500 {
  color: #fff;
  transition: all 300ms ease-in-out;
}
.link-white-500:hover, .link-white-500:focus {
  color: #e6e6e6;
  transition: all 300ms ease-in-out;
}

.link-whatsapp-500 {
  color: #25D366;
  transition: all 300ms ease-in-out;
}
.link-whatsapp-500:hover, .link-whatsapp-500:focus {
  color: #1da851;
  transition: all 300ms ease-in-out;
}

.pagination__nav__list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--fs-100);
  flex-direction: row;
}
.pagination__nav__list__item {
  width: 4rem;
  height: 4rem;
  font-size: var(--fs-200) !important;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 3px;
  line-height: 1 !important;
  background: transparent;
  transition: all 300ms ease-in-out;
}
.pagination__nav__list__item:hover {
  color: var(--clr-white-500);
  border-color: var(--clr-primary-500);
  background: var(--clr-primary-500);
  transition: all 300ms ease-in-out;
}
.pagination__nav__list__item__link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.pagination__nav__list__item__link--active {
  color: var(--clr-white-500);
  border: none !important;
  background: var(--clr-primary-500);
  transform: none;
}

.header {
  margin: 0;
  padding: 15px 0;
  position: sticky;
  top: 0;
  left: 0;
  background: #F9F9F9;
  z-index: 10;
}
.header__navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__navbar__section__toggle {
  display: none;
}
.header__navbar__section__toggle:hover {
  cursor: pointer;
}
.header__navbar__section__toggle span {
  display: block;
  width: 40px;
  height: 4px;
  background: var(--clr-neutral-500);
  line-height: 1 !important;
}
.header__navbar__section__toggle span:nth-child(1) {
  transform-origin: center;
  transform: translate(0px) rotate(0deg);
  transition: all 300ms ease-in-out;
}
.header__navbar__section__toggle span:nth-child(2) {
  opacity: 1;
  transition: all 300ms ease-in-out;
}
.header__navbar__section__toggle span:nth-child(3) {
  transform-origin: center;
  transform: translate(0px) rotate(0deg);
  transition: all 300ms ease-in-out;
}
.header__navbar__section__toggle span:not(:last-child) {
  margin-bottom: 6px;
}
.header__navbar__section__container__nav ul {
  display: flex;
  gap: var(--fs-300);
}
.header__navbar__section__container__nav ul li {
  line-height: 1 !important;
  cursor: pointer;
}
.header__navbar__section__container__nav ul li.menu-item-has-children {
  position: relative;
}
.header__navbar__section__container__nav ul li.menu-item-has-children:hover::after {
  color: var(--clr-primary-500);
}
.header__navbar__section__container__nav ul li.menu-item-has-children::after {
  content: "▼";
  font-size: 1rem;
}
.header__navbar__section__container__nav ul li.menu-item-has-children .sub-menu {
  position: absolute;
  width: 22rem;
  left: 0;
  top: 2.5rem;
  background: var(--clr-white-500) !important;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  z-index: 10;
  display: none;
}
.header__navbar__section__container__nav ul li.menu-item-has-children .sub-menu li {
  width: 100%;
  display: inline-block;
  padding: 2rem;
  background: transparent;
  transition: all 300ms ease-in-out;
}
.header__navbar__section__container__nav ul li.menu-item-has-children .sub-menu li:hover {
  background: var(--clr-light-gray-500);
  transition: all 300ms ease-in-out;
}
.header__navbar__section__container__nav ul li.menu-item-has-children .sub-menu li:hover a {
  color: var(--clr-primary-500);
}
.header__navbar__section__container__nav ul li.menu-item-has-children .sub-menu li:not(:last-child) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.header__navbar__section__container__nav ul li a {
  transition: color 300ms ease-in-out;
}
.header__navbar__section__container__nav ul li a:hover {
  color: var(--clr-primary-500);
  transition: color 300ms ease-in-out;
}
@media only screen and (max-width: 768px) {
  .header__navbar__section__toggle {
    display: block;
  }
  .header__navbar__section__container {
    padding: var(--gap);
    position: absolute;
    top: 0;
    right: 0;
    height: 100vh;
    width: 85vw;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--clr-white-500);
    background: var(--clr-primary-500);
    transform-origin: right;
    transform: scaleX(0);
    transition: all 300ms ease-in-out;
  }
  .header__navbar__section__container__nav ul {
    gap: var(--fs-500);
    flex-direction: column;
    font-size: 2.8rem;
    text-align: center;
  }
  .header__navbar__section__container__nav ul .menu-item-has-children::after:hover, .header__navbar__section__container__nav ul .menu-item-has-children::after:focus {
    color: white !important;
  }
  .header__navbar__section__container__nav ul .menu-item-has-children a:hover, .header__navbar__section__container__nav ul .menu-item-has-children a:focus {
    color: white !important;
  }
  .header__navbar__section__container__nav ul .menu-item-has-children .sub-menu {
    position: relative !important;
    min-width: 100%;
    top: 2.5rem;
    background: var(--clr-white-500) !important;
    text-align: center;
  }
  .header__navbar__section__container__nav ul .menu-item-has-children .sub-menu li {
    width: 100%;
    display: flex;
    padding: 2rem;
    background: transparent;
    transition: all 300ms ease-in-out;
    color: var(--clr-neutral-500);
  }
  .header__navbar__section__container__nav ul .menu-item-has-children .sub-menu li:hover {
    background: var(--clr-light-gray-500);
    transition: all 300ms ease-in-out;
  }
  .header__navbar__section__container__nav ul .menu-item-has-children .sub-menu li:hover a {
    color: var(--clr-primary-500);
  }
  .header__navbar__section__container__nav ul .menu-item-has-children .sub-menu li:not(:last-child) {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
  .header__navbar__section__container__nav ul .menu-item-has-children .sub-menu li a {
    width: 100%;
    text-align: center;
  }
}

.header--active .header__navbar__section__toggle {
  position: absolute;
  top: 48px;
  right: 3rem;
  z-index: 15;
  transition: all 300ms ease-in-out;
}
.header--active .header__navbar__section__toggle span {
  background: var(--clr-white-500);
  transition: all 300ms ease-in-out;
}
.header--active .header__navbar__section__toggle span:nth-child(1) {
  transform: translate(0px, 10px) rotate(45deg);
  transition: all 300ms ease-in-out;
}
.header--active .header__navbar__section__toggle span:nth-child(2) {
  opacity: 0;
  transition: all 300ms ease-in-out;
}
.header--active .header__navbar__section__toggle span:nth-child(3) {
  transform: translate(0px, -10px) rotate(-45deg);
  transition: all 300ms ease-in-out;
}
.header--active .header__navbar__section__container {
  transform: scaleX(1);
  transition: all 300ms ease-in-out;
}

.whatsapp {
  position: fixed;
  right: 2rem;
  bottom: 2rem;
  z-index: 100;
}
.whatsapp a {
  margin: 0;
  padding: 0;
  width: var(--fs-900);
  height: var(--fs-900);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--fs-500);
  color: white;
  line-height: 1;
  border-radius: 50%;
  background: var(--clr-whatsapp-500);
  transform: scale(1);
  transition: transform 300ms ease-in-out;
}
.whatsapp a:hover, .whatsapp a:focus {
  transform: scale(0.95);
  transition: transform 300ms ease-in-out;
}
.whatsapp a i {
  line-height: inherit;
}

.footer__content__menu__nav {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer__content__menu__nav ul {
  display: flex;
  gap: var(--fs-300);
  line-height: 1.1 !important;
}
.footer__content__menu__nav ul a {
  color: var(--clr-neutral-500);
  transition: color 300ms ease-in-out;
}
.footer__content__menu__nav ul a:hover {
  color: var(--clr-primary-500);
  transition: color 300ms ease-in-out;
}
.footer__content__social ul {
  line-height: 1.1 !important;
}
.footer__content__copyright {
  line-height: 1.1 !important;
}
.footer__developer__row {
  line-height: 1.1 !important;
}
.footer__developer__row a:hover {
  color: #375a5e;
}
.footer__developer__row a i {
  margin-right: 4px;
}
@media only screen and (max-width: 576px) {
  .footer__content__menu__nav ul {
    flex-direction: column;
    gap: var(--fs-300);
  }
  .footer__content__menu__nav ul li {
    text-align: center;
  }
}

.hero {
  position: relative;
}
.hero__row {
  grid-template-columns: 60% 40%;
}
.hero__row__cta {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.hero__row__cta::after {
  position: absolute;
  bottom: 0;
  right: var(--gap);
  content: "";
  max-width: 44rem;
  width: 100%;
  max-height: 21rem;
  height: 100%;
  background-image: url("../svg/vt-grid.svg");
  background-size: contain;
  background-repeat: no-repeat;
  z-index: -1;
}
.hero__row__cta a {
  margin-bottom: -3.25rem;
}
.hero__image {
  max-height: 63rem;
  height: 100%;
}
@media only screen and (max-width: 768px) {
  .hero__row {
    padding-bottom: var(--fs-600);
    grid-template-columns: 1fr;
  }
  .hero__row__content {
    padding-bottom: 0;
  }
  .hero__row__cta {
    justify-content: flex-start;
  }
  .hero__row__cta::after {
    display: none;
  }
  .hero__row__cta a {
    margin-bottom: 0;
  }
  .hero__image {
    height: 35rem;
  }
}
@media only screen and (max-width: 576px) {
  .hero__image {
    height: 25rem;
  }
}

.content__row {
  grid-template-columns: 1fr 35rem;
}
.content__row__container__body__header p {
  font-family: var(--t-bold) !important;
  line-height: 1.1;
  color: var(--clr-gray-500);
}
.content__row__container__body__text__row__image figcaption {
  text-align: left;
  line-height: 1.1 !important;
}
.content__row__container__body__text .grid-3 {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: calc(var(--gap) * 2);
}
.content__row__container__body__text .grid-4 {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: calc(var(--gap) * 2);
}
.content__row__sidebar__container {
  padding: calc(var(--gap) * 2);
  background: var(--clr-light-blue-500);
}
.content__row__sidebar__container ul li:not(:last-child) {
  margin-bottom: var(--fs-200);
}
@media only screen and (max-width: 768px) {
  .content__row__container__body__text .grid-3 {
    grid-template-columns: repeat(2, 1fr);
  }
  .content__row__container__body__text .grid-4 {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (max-width: 576px) {
  .content__row {
    grid-template-columns: 1fr;
  }
}

/*# sourceMappingURL=style-pages.css.map */
