@charset "UTF-8";
:root {
  --font-base: 50%;
  --gap: 1.5rem;
  --regular: "Lato Regular", sans-serif;
  --medium: "Lato Medium", sans-serif;
  --t-medium: "Ubuntu Medium", sans-serif;
  --t-bold: "Ubuntu Bold", sans-serif;
  --clr-primary-500: #5C979F;
  --clr-neutral-500: #969696;
  --clr-green-500: #5C979F;
  --clr-gray-500: #707070;
  --clr-light-green-500: #DDEDEF;
  --clr-white-500: #fff;
  --clr-whatsapp-500: #25D366;
  --fs-100: 0.8rem;
  --fs-200: 1.6rem;
  --fs-300: 2.4rem;
  --fs-400: 3.2rem;
  --fs-500: 4rem;
  --fs-600: 4.8rem;
  --fs-700: 5.6rem;
  --fs-800: 6.4rem;
  --fs-900: 7.2rem;
  --fs-1000: 8rem;
  --x-small: 576px;
  --sm: 540px;
  --md: 720px;
  --lg: 960px;
  --xl: 1140px;
}
@media only screen and (min-width: 720px) {
  :root {
    --font-base: 62.5%;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
  color: inherit;
  font-size: inherit;
}

span,
abbr {
  font-family: inherit !important;
}

abbr {
  text-decoration: none;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
  list-style-position: inside;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  overflow-x: hidden;
}

a:not([class]) {
  -webkit-text-decoration-skip: ink;
  text-decoration-skip: auto;
}

i {
  color: inherit !important;
}
i::before {
  color: inherit !important;
}

img {
  margin: 0;
  padding: 0;
  max-width: 100%;
  height: auto;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
  outline: none;
}

input,
textarea {
  width: 100%;
  height: 100%;
  padding: var(--fs-100) var(--fs-200);
  font-family: var(--regular) !important;
  color: var(--clr-neutral-500) !important;
  line-height: 1.5;
  border: none;
  border-bottom: 1.5px solid #ccc;
  border-radius: 0;
  background: none;
  transform: scale(1);
  transition: transform 300ms ease-in-out;
  -webkit-appearance: none !important;
  -webkit-border-radius: 0 !important;
}
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  font-size: 1.4rem !important;
  color: inherit;
}
input::-moz-placeholder,
textarea::-moz-placeholder {
  font-size: 1.4rem !important;
  color: inherit;
}
input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  font-size: 1.4rem !important;
  color: inherit;
}
input::-ms-input-placeholder,
textarea::-ms-input-placeholder {
  font-size: 1.4rem !important;
  color: inherit;
}
input::placeholder,
textarea::placeholder {
  font-size: 1.4rem !important;
  color: inherit;
}
input:focus,
textarea:focus {
  background: #f8f8f8;
}
@media only screen and (max-width: 576px) {
  input::-webkit-input-placeholder, input::-moz-placeholder, input:-ms-input-placeholder, input::-ms-input-placeholder, input::placeholder,
textarea::-webkit-input-placeholder,
textarea::-moz-placeholder,
textarea:-ms-input-placeholder,
textarea::-ms-input-placeholder,
textarea::placeholder {
    font-size: 1.5rem !important;
  }
}

textarea {
  min-height: 15rem;
  resize: none;
}

@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }

  *,
*::before,
*::after {
    -webkit-animation-duration: 0.01ms !important;
    animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
* {
  font-family: var(--regular) !important;
}

html {
  font-size: var(--font-base) !important;
  color: var(--clr-neutral-500) !important;
}

body {
  font-size: var(--fs-200);
}

h1,
h2,
h3,
h4 {
  font-family: var(--t-bold) !important;
  font-size: inherit;
  line-height: 1.1;
}

strong,
b {
  font-family: var(--medium) !important;
}

a {
  text-decoration: none;
  color: inherit;
  font-family: inherit !important;
}
a:hover, a:focus {
  text-decoration: none;
}

address {
  font: inherit;
}

body {
  min-height: 100vh;
}
@media only screen and (max-width: 576px) {
  body {
    display: block;
  }
}

.bg-primary-500 {
  background-color: var(--clr-primary-500) !important;
}

.bg-neutral-500 {
  background-color: var(--clr-neutral-500) !important;
}

.bg-green-500 {
  background-color: var(--clr-green-500) !important;
}

.bg-gray-500 {
  background-color: var(--clr-gray-500) !important;
}

.bg-light-green-500 {
  background-color: var(--clr-light-green-500) !important;
}

.bg-white-500 {
  background-color: var(--clr-white-500) !important;
}

.bg-whatsapp-500 {
  background-color: var(--clr-whatsapp-500) !important;
}

.container {
  display: block;
  margin: 0 auto;
  padding: 0 calc(var(--gap) * 2);
  width: 100%;
}
@media only screen and (min-width: 540px) {
  .container {
    margin: 0 auto;
    padding: 0 var(--gap);
    max-width: var(--sm);
  }
}
@media only screen and (min-width: 720px) {
  .container {
    margin: 0 auto;
    padding: 0 var(--gap);
    max-width: var(--md);
  }
}
@media only screen and (min-width: 960px) {
  .container {
    margin: 0 auto;
    padding: 0 var(--gap);
    max-width: var(--lg);
  }
}
@media only screen and (min-width: 1140px) {
  .container {
    margin: 0 auto;
    padding: 0 var(--gap);
    max-width: var(--xl);
  }
}

.container__fluid {
  display: block;
  margin: 0 auto;
  padding: 0 calc(var(--gap) * 2);
  width: 100%;
}

.d-none {
  display: none !important;
}

.d-sticky {
  position: -webkit-sticky !important;
  position: sticky !important;
  top: 0;
  left: 0;
  transition: position 300ms ease-in-out;
}

.grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: calc(var(--gap) * 2);
}

.my-1 {
  margin: calc(var(--fs-100) * 1) 0;
}

.mx-1 {
  margin: 0 calc(var(--fs-100) * 1);
}

.mt-1 {
  margin-top: calc(var(--fs-100) * 1);
}

.mb-1 {
  margin-bottom: calc(var(--fs-100) * 1);
}

.ml-1 {
  margin-left: calc(var(--fs-100) * 1);
}

.mr-1 {
  margin-right: calc(var(--fs-100) * 1);
}

.my-2 {
  margin: calc(var(--fs-100) * 2) 0;
}

.mx-2 {
  margin: 0 calc(var(--fs-100) * 2);
}

.mt-2 {
  margin-top: calc(var(--fs-100) * 2);
}

.mb-2 {
  margin-bottom: calc(var(--fs-100) * 2);
}

.ml-2 {
  margin-left: calc(var(--fs-100) * 2);
}

.mr-2 {
  margin-right: calc(var(--fs-100) * 2);
}

.my-3 {
  margin: calc(var(--fs-100) * 3) 0;
}

.mx-3 {
  margin: 0 calc(var(--fs-100) * 3);
}

.mt-3 {
  margin-top: calc(var(--fs-100) * 3);
}

.mb-3 {
  margin-bottom: calc(var(--fs-100) * 3);
}

.ml-3 {
  margin-left: calc(var(--fs-100) * 3);
}

.mr-3 {
  margin-right: calc(var(--fs-100) * 3);
}

.my-4 {
  margin: calc(var(--fs-100) * 4) 0;
}

.mx-4 {
  margin: 0 calc(var(--fs-100) * 4);
}

.mt-4 {
  margin-top: calc(var(--fs-100) * 4);
}

.mb-4 {
  margin-bottom: calc(var(--fs-100) * 4);
}

.ml-4 {
  margin-left: calc(var(--fs-100) * 4);
}

.mr-4 {
  margin-right: calc(var(--fs-100) * 4);
}

.my-5 {
  margin: calc(var(--fs-100) * 5) 0;
}

.mx-5 {
  margin: 0 calc(var(--fs-100) * 5);
}

.mt-5 {
  margin-top: calc(var(--fs-100) * 5);
}

.mb-5 {
  margin-bottom: calc(var(--fs-100) * 5);
}

.ml-5 {
  margin-left: calc(var(--fs-100) * 5);
}

.mr-5 {
  margin-right: calc(var(--fs-100) * 5);
}

.my-6 {
  margin: calc(var(--fs-100) * 6) 0;
}

.mx-6 {
  margin: 0 calc(var(--fs-100) * 6);
}

.mt-6 {
  margin-top: calc(var(--fs-100) * 6);
}

.mb-6 {
  margin-bottom: calc(var(--fs-100) * 6);
}

.ml-6 {
  margin-left: calc(var(--fs-100) * 6);
}

.mr-6 {
  margin-right: calc(var(--fs-100) * 6);
}

.my-7 {
  margin: calc(var(--fs-100) * 7) 0;
}

.mx-7 {
  margin: 0 calc(var(--fs-100) * 7);
}

.mt-7 {
  margin-top: calc(var(--fs-100) * 7);
}

.mb-7 {
  margin-bottom: calc(var(--fs-100) * 7);
}

.ml-7 {
  margin-left: calc(var(--fs-100) * 7);
}

.mr-7 {
  margin-right: calc(var(--fs-100) * 7);
}

.my-8 {
  margin: calc(var(--fs-100) * 8) 0;
}

.mx-8 {
  margin: 0 calc(var(--fs-100) * 8);
}

.mt-8 {
  margin-top: calc(var(--fs-100) * 8);
}

.mb-8 {
  margin-bottom: calc(var(--fs-100) * 8);
}

.ml-8 {
  margin-left: calc(var(--fs-100) * 8);
}

.mr-8 {
  margin-right: calc(var(--fs-100) * 8);
}

.my-9 {
  margin: calc(var(--fs-100) * 9) 0;
}

.mx-9 {
  margin: 0 calc(var(--fs-100) * 9);
}

.mt-9 {
  margin-top: calc(var(--fs-100) * 9);
}

.mb-9 {
  margin-bottom: calc(var(--fs-100) * 9);
}

.ml-9 {
  margin-left: calc(var(--fs-100) * 9);
}

.mr-9 {
  margin-right: calc(var(--fs-100) * 9);
}

.my-10 {
  margin: calc(var(--fs-100) * 10) 0;
}

.mx-10 {
  margin: 0 calc(var(--fs-100) * 10);
}

.mt-10 {
  margin-top: calc(var(--fs-100) * 10);
}

.mb-10 {
  margin-bottom: calc(var(--fs-100) * 10);
}

.ml-10 {
  margin-left: calc(var(--fs-100) * 10);
}

.mr-10 {
  margin-right: calc(var(--fs-100) * 10);
}

.py-1 {
  margin: calc(var(--fs-100) * 1) 0;
}

.px-1 {
  margin: 0 calc(var(--fs-100) * 1);
}

.pt-1 {
  margin-top: calc(var(--fs-100) * 1);
}

.pb-1 {
  margin-bottom: calc(var(--fs-100) * 1);
}

.pl-1 {
  margin-left: calc(var(--fs-100) * 1);
}

.pr-1 {
  margin-right: calc(var(--fs-100) * 1);
}

.py-2 {
  margin: calc(var(--fs-100) * 2) 0;
}

.px-2 {
  margin: 0 calc(var(--fs-100) * 2);
}

.pt-2 {
  margin-top: calc(var(--fs-100) * 2);
}

.pb-2 {
  margin-bottom: calc(var(--fs-100) * 2);
}

.pl-2 {
  margin-left: calc(var(--fs-100) * 2);
}

.pr-2 {
  margin-right: calc(var(--fs-100) * 2);
}

.py-3 {
  margin: calc(var(--fs-100) * 3) 0;
}

.px-3 {
  margin: 0 calc(var(--fs-100) * 3);
}

.pt-3 {
  margin-top: calc(var(--fs-100) * 3);
}

.pb-3 {
  margin-bottom: calc(var(--fs-100) * 3);
}

.pl-3 {
  margin-left: calc(var(--fs-100) * 3);
}

.pr-3 {
  margin-right: calc(var(--fs-100) * 3);
}

.py-4 {
  margin: calc(var(--fs-100) * 4) 0;
}

.px-4 {
  margin: 0 calc(var(--fs-100) * 4);
}

.pt-4 {
  margin-top: calc(var(--fs-100) * 4);
}

.pb-4 {
  margin-bottom: calc(var(--fs-100) * 4);
}

.pl-4 {
  margin-left: calc(var(--fs-100) * 4);
}

.pr-4 {
  margin-right: calc(var(--fs-100) * 4);
}

.py-5 {
  margin: calc(var(--fs-100) * 5) 0;
}

.px-5 {
  margin: 0 calc(var(--fs-100) * 5);
}

.pt-5 {
  margin-top: calc(var(--fs-100) * 5);
}

.pb-5 {
  margin-bottom: calc(var(--fs-100) * 5);
}

.pl-5 {
  margin-left: calc(var(--fs-100) * 5);
}

.pr-5 {
  margin-right: calc(var(--fs-100) * 5);
}

.py-6 {
  margin: calc(var(--fs-100) * 6) 0;
}

.px-6 {
  margin: 0 calc(var(--fs-100) * 6);
}

.pt-6 {
  margin-top: calc(var(--fs-100) * 6);
}

.pb-6 {
  margin-bottom: calc(var(--fs-100) * 6);
}

.pl-6 {
  margin-left: calc(var(--fs-100) * 6);
}

.pr-6 {
  margin-right: calc(var(--fs-100) * 6);
}

.py-7 {
  margin: calc(var(--fs-100) * 7) 0;
}

.px-7 {
  margin: 0 calc(var(--fs-100) * 7);
}

.pt-7 {
  margin-top: calc(var(--fs-100) * 7);
}

.pb-7 {
  margin-bottom: calc(var(--fs-100) * 7);
}

.pl-7 {
  margin-left: calc(var(--fs-100) * 7);
}

.pr-7 {
  margin-right: calc(var(--fs-100) * 7);
}

.py-8 {
  margin: calc(var(--fs-100) * 8) 0;
}

.px-8 {
  margin: 0 calc(var(--fs-100) * 8);
}

.pt-8 {
  margin-top: calc(var(--fs-100) * 8);
}

.pb-8 {
  margin-bottom: calc(var(--fs-100) * 8);
}

.pl-8 {
  margin-left: calc(var(--fs-100) * 8);
}

.pr-8 {
  margin-right: calc(var(--fs-100) * 8);
}

.py-9 {
  margin: calc(var(--fs-100) * 9) 0;
}

.px-9 {
  margin: 0 calc(var(--fs-100) * 9);
}

.pt-9 {
  margin-top: calc(var(--fs-100) * 9);
}

.pb-9 {
  margin-bottom: calc(var(--fs-100) * 9);
}

.pl-9 {
  margin-left: calc(var(--fs-100) * 9);
}

.pr-9 {
  margin-right: calc(var(--fs-100) * 9);
}

.py-10 {
  margin: calc(var(--fs-100) * 10) 0;
}

.px-10 {
  margin: 0 calc(var(--fs-100) * 10);
}

.pt-10 {
  margin-top: calc(var(--fs-100) * 10);
}

.pb-10 {
  margin-bottom: calc(var(--fs-100) * 10);
}

.pl-10 {
  margin-left: calc(var(--fs-100) * 10);
}

.pr-10 {
  margin-right: calc(var(--fs-100) * 10);
}

.shadow {
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.15);
}

.radius {
  border-radius: 10px;
  overflow: hidden;
}

.title span {
  margin-bottom: var(--fs-100);
  height: var(--fs-800);
  font-size: var(--fs-1000);
  overflow: hidden;
  color: var(--clr-light-green-500);
}
.title h2 {
  font-size: var(--fs-400);
  text-align: left;
  color: var(--clr-gray-500);
}
.title p {
  text-align: left;
}

.btn {
  display: inline-block !important;
  margin: 0;
  padding: var(--fs-300) var(--fs-500);
  cursor: pointer;
  vertical-align: middle;
  outline: none;
  border: none;
  transform: scale(1);
  transition: transform 0.3s ease-in-out;
  line-height: 1.1 !important;
  font-family: var(--medium) !important;
  font-size: var(--fs-200);
  text-transform: uppercase;
}
.btn:active {
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}

.btn-primary-500 {
  background-color: #5C979F;
  color: var(--clr-white-500);
  transition: background-color 300ms ease-in-out;
}
.btn-primary-500:hover {
  background-color: #49787f;
  transition: background-color 300ms ease-in-out;
}

.btn-neutral-500 {
  background-color: #969696;
  color: var(--clr-white-500);
  transition: all 300ms ease-in-out;
}
.btn-neutral-500:hover {
  color: var(--clr-neutral-500);
  background-color: var(--clr-white-500);
  transition: all 300ms ease-in-out;
}

.btn-green-500 {
  background-color: #5C979F;
  color: var(--clr-white-500);
  transition: background-color 300ms ease-in-out;
}
.btn-green-500:hover {
  background-color: #49787f;
  transition: background-color 300ms ease-in-out;
}

.btn-gray-500 {
  background-color: #707070;
  color: var(--clr-white-500);
  transition: background-color 300ms ease-in-out;
}
.btn-gray-500:hover {
  background-color: #575757;
  transition: background-color 300ms ease-in-out;
}

.btn-light-green-500 {
  background-color: #DDEDEF;
  color: var(--clr-white-500);
  transition: background-color 300ms ease-in-out;
}
.btn-light-green-500:hover {
  background-color: #badbdf;
  transition: background-color 300ms ease-in-out;
}

.btn-white-500 {
  background-color: #fff;
  color: var(--clr-primary-500);
  transition: all 300ms ease-in-out;
}
.btn-white-500:hover {
  color: var(--clr-white-500);
  background-color: var(--clr-primary-500);
  transition: all 300ms ease-in-out;
}

.btn-whatsapp-500 {
  background-color: #25D366;
  color: var(--clr-white-500);
  transition: background-color 300ms ease-in-out;
}
.btn-whatsapp-500:hover {
  background-color: #1da851;
  transition: background-color 300ms ease-in-out;
}

.header {
  position: fixed;
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 10rem;
  z-index: 200;
  background: transparent;
  transition: background 300ms ease-in-out;
}
.header__navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__navbar__brand a {
  font-size: var(--fs-400);
  color: var(--clr-black-500);
}
.header__navbar__section__toggle {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  cursor: pointer;
}
.header__navbar__section__toggle:hover span {
  width: var(--fs-400);
  background: var(--clr-black-300);
  transition: all 300ms ease-in-out;
}
.header__navbar__section__toggle span {
  display: block;
  width: var(--fs-300);
  height: 3px;
  background: var(--clr-black-500);
  transform-origin: right;
  transition: all 300ms ease-in-out;
}
.header__navbar__section__toggle span:nth-child(1), .header__navbar__section__toggle span:nth-child(3) {
  transform: initial;
  transition: all 300ms ease-in-out;
}
.header__navbar__section__toggle span:nth-child(2) {
  margin: 5px 0;
  width: var(--fs-400);
  opacity: 1;
  transition: all 300ms ease-in-out;
}
.header__navbar__section__container {
  min-width: 50rem;
  height: 100vh;
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  background: var(--clr-black-500);
  z-index: 200;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 300ms ease-in-out;
}
.header__navbar__section__container__nav {
  padding: var(--fs-1000);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: var(--clr-white-500) !important;
  overflow: auto;
}
.header__navbar__section__container__nav ul li {
  display: block;
  margin: var(--fs-200) 0;
  font-size: 2.6rem;
  transition: color 300ms ease-in-out;
}
.header__navbar__section__container__nav ul li:hover {
  color: var(--clr-black-300);
  transition: color 300ms ease-in-out;
}
.header__navbar__section__container__nav ul li.menu-item-has-children > a::after {
  display: inline-block;
  margin-left: var(--fs-100);
  content: "▼";
  transition: content 300ms ease-in-out;
}
.header__navbar__section__container__nav ul li.menu-item-has-children ul {
  max-width: 100%;
  padding: var(--fs-200);
  font-size: var(--fs-300);
  background: var(--clr-white-500);
}
.header__navbar__section__container__nav ul li.menu-item-has-children ul li {
  font-size: 2rem;
  color: var(--clr-black-500);
}
.header__navbar__section__container__nav ul li.menu-item-has-children ul li:hover {
  color: var(--clr-black-300);
  transition: color 300ms ease-in-out;
}
.header--sticky {
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
  transition: background 300ms ease-in-out;
}
.header--active .header__navbar__section__toggle {
  position: absolute;
  top: 3.5rem;
  right: 9rem;
  z-index: 300;
}
.header--active .header__navbar__section__toggle:hover span {
  background: var(--clr-black-300);
  transition: all 300ms ease-in-out;
}
.header--active .header__navbar__section__toggle span {
  background: var(--clr-white-500);
  transition: all 300ms ease-in-out;
}
.header--active .header__navbar__section__toggle span:nth-child(1) {
  transform-origin: center;
  transform: rotate(45deg) translate(0.4rem, 0.4rem);
  transition: all 300ms ease-in-out;
}
.header--active .header__navbar__section__toggle span:nth-child(2) {
  opacity: 0;
  transition: all 300ms ease-in-out;
}
.header--active .header__navbar__section__toggle span:nth-child(3) {
  transform-origin: center;
  transform: rotate(-45deg) translate(0.8rem, -0.8rem);
  transition: all 300ms ease-in-out;
}
.header--active .header__navbar__section__container {
  transform: scaleX(1);
  transition: transform 300ms ease-in-out;
}
@media only screen and (max-width: 768px) {
  .header--active .header__navbar__section__toggle {
    top: 4.4rem;
    right: 3.8rem;
  }
}
@media only screen and (max-width: 576px) {
  .header__navbar__section__container {
    min-width: initial;
  }
  .header--active .header__navbar__section__toggle {
    top: 4.4rem;
    right: 3rem;
  }
  .header--active .header__navbar__section__toggle span:nth-child(3) {
    transform: rotate(-45deg) translate(1rem, -1rem);
  }
  .header--active .header__navbar__section__container {
    min-width: initial;
    width: 95vw;
  }
}

.whatsapp {
  position: fixed;
  right: 2rem;
  bottom: 2rem;
  z-index: 100;
}
.whatsapp a {
  margin: 0;
  padding: 0;
  width: var(--fs-900);
  height: var(--fs-900);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--fs-500);
  color: white;
  line-height: 1;
  border-radius: 50%;
  background: var(--clr-whatsapp-500);
  transform: scale(1);
  transition: transform 300ms ease-in-out;
}
.whatsapp a:hover, .whatsapp a:focus {
  transform: scale(0.95);
  transition: transform 300ms ease-in-out;
}
.whatsapp a i {
  line-height: inherit;
}

@font-face {
  font-family: "icon";
  src: url("../font/icon/fonts/icon.eot?xsl6fe");
  src: url("../font/icon/fonts/icon.eot?xsl6fe#iefix") format("embedded-opentype"), url("../font/icon/fonts/icon.ttf?xsl6fe") format("truetype"), url("../font/icon/fonts/icon.woff?xsl6fe") format("woff"), url("../font/icon/fonts/icon.svg?xsl6fe#icon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-corporal:before {
  content: "\e900";
}

.icon-facebook:before {
  content: "\e901";
}

.icon-facial:before {
  content: "\e902";
}

.icon-harmonizacao:before {
  content: "\e903";
}

.icon-html:before {
  content: "\e904";
}

.icon-instagram:before {
  content: "\e905";
}

.icon-whatsapp:before {
  content: "\e906";
}

/* Magnific Popup CSS */
.mfp-bg {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1042;
  overflow: hidden;
  position: fixed;
  background: #0b0b0b;
  opacity: 0.8;
}

.mfp-wrap {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1043;
  position: fixed;
  outline: none !important;
  -webkit-backface-visibility: hidden;
}

.mfp-container {
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  padding: 0 8px;
  box-sizing: border-box;
}

.mfp-container:before {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.mfp-align-top .mfp-container:before {
  display: none;
}

.mfp-content {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 0 auto;
  text-align: left;
  z-index: 1045;
}

.mfp-inline-holder .mfp-content,
.mfp-ajax-holder .mfp-content {
  width: 100%;
  cursor: auto;
}

.mfp-ajax-cur {
  cursor: progress;
}

.mfp-zoom-out-cur, .mfp-zoom-out-cur .mfp-image-holder .mfp-close {
  cursor: -moz-zoom-out;
  cursor: -webkit-zoom-out;
  cursor: zoom-out;
}

.mfp-zoom {
  cursor: pointer;
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
  cursor: zoom-in;
}

.mfp-auto-cursor .mfp-content {
  cursor: auto;
}

.mfp-close,
.mfp-arrow,
.mfp-preloader,
.mfp-counter {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.mfp-loading.mfp-figure {
  display: none;
}

.mfp-hide {
  display: none !important;
}

.mfp-preloader {
  color: #CCC;
  position: absolute;
  top: 50%;
  width: auto;
  text-align: center;
  margin-top: -0.8em;
  left: 8px;
  right: 8px;
  z-index: 1044;
}

.mfp-preloader a {
  color: #CCC;
}

.mfp-preloader a:hover {
  color: #FFF;
}

.mfp-s-ready .mfp-preloader {
  display: none;
}

.mfp-s-error .mfp-content {
  display: none;
}

button.mfp-close,
button.mfp-arrow {
  overflow: visible;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
  display: block;
  outline: none;
  padding: 0;
  z-index: 1046;
  box-shadow: none;
  touch-action: manipulation;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

.mfp-close {
  width: 44px;
  height: 44px;
  line-height: 44px;
  position: absolute;
  right: 0;
  top: 0;
  text-decoration: none;
  text-align: center;
  opacity: 0.65;
  padding: 0 0 18px 10px;
  color: #FFF;
  font-style: normal;
  font-size: 28px;
  font-family: Arial, Baskerville, monospace;
}

.mfp-close:hover,
.mfp-close:focus {
  opacity: 1;
}

.mfp-close:active {
  top: 1px;
}

.mfp-close-btn-in .mfp-close {
  color: #333;
}

.mfp-image-holder .mfp-close,
.mfp-iframe-holder .mfp-close {
  color: #FFF;
  right: -6px;
  text-align: right;
  padding-right: 6px;
  width: 100%;
}

.mfp-counter {
  position: absolute;
  top: 0;
  right: 0;
  color: #CCC;
  font-size: 12px;
  line-height: 18px;
  white-space: nowrap;
}

.mfp-arrow {
  position: absolute;
  opacity: 0.65;
  margin: 0;
  top: 50%;
  margin-top: -55px;
  padding: 0;
  width: 90px;
  height: 110px;
  -webkit-tap-highlight-color: transparent;
}

.mfp-arrow:active {
  margin-top: -54px;
}

.mfp-arrow:hover,
.mfp-arrow:focus {
  opacity: 1;
}

.mfp-arrow:before,
.mfp-arrow:after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  left: 0;
  top: 0;
  margin-top: 35px;
  margin-left: 35px;
  border: medium inset transparent;
}

.mfp-arrow:after {
  border-top-width: 13px;
  border-bottom-width: 13px;
  top: 8px;
}

.mfp-arrow:before {
  border-top-width: 21px;
  border-bottom-width: 21px;
  opacity: 0.7;
}

.mfp-arrow-left {
  left: 0;
}

.mfp-arrow-left:after {
  border-right: 17px solid #FFF;
  margin-left: 31px;
}

.mfp-arrow-left:before {
  margin-left: 25px;
  border-right: 27px solid #3F3F3F;
}

.mfp-arrow-right {
  right: 0;
}

.mfp-arrow-right:after {
  border-left: 17px solid #FFF;
  margin-left: 39px;
}

.mfp-arrow-right:before {
  border-left: 27px solid #3F3F3F;
}

.mfp-iframe-holder {
  padding-top: 40px;
  padding-bottom: 40px;
}

.mfp-iframe-holder .mfp-content {
  line-height: 0;
  width: 100%;
  max-width: 900px;
}

.mfp-iframe-holder .mfp-close {
  top: -40px;
}

.mfp-iframe-scaler {
  width: 100%;
  height: 0;
  overflow: hidden;
  padding-top: 56.25%;
}

.mfp-iframe-scaler iframe {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
  background: #000;
}

/* Main image in popup */
img.mfp-img {
  width: auto;
  max-width: 100%;
  height: auto;
  display: block;
  line-height: 0;
  box-sizing: border-box;
  padding: 40px 0 40px;
  margin: 0 auto;
}

/* The shadow behind the image */
.mfp-figure {
  line-height: 0;
}

.mfp-figure:after {
  content: "";
  position: absolute;
  left: 0;
  top: 40px;
  bottom: 40px;
  display: block;
  right: 0;
  width: auto;
  height: auto;
  z-index: -1;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
  background: #444;
}

.mfp-figure small {
  color: #BDBDBD;
  display: block;
  font-size: 12px;
  line-height: 14px;
}

.mfp-figure figure {
  margin: 0;
}

.mfp-bottom-bar {
  margin-top: -36px;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  cursor: auto;
}

.mfp-title {
  text-align: left;
  line-height: 18px;
  color: #F3F3F3;
  word-wrap: break-word;
  padding-right: 36px;
}

.mfp-image-holder .mfp-content {
  max-width: 100%;
}

.mfp-gallery .mfp-image-holder .mfp-figure {
  cursor: pointer;
}

@media screen and (max-width: 800px) and (orientation: landscape), screen and (max-height: 300px) {
  /**
       * Remove all paddings around the image on small screen
       */
  .mfp-img-mobile .mfp-image-holder {
    padding-left: 0;
    padding-right: 0;
  }

  .mfp-img-mobile img.mfp-img {
    padding: 0;
  }

  .mfp-img-mobile .mfp-figure:after {
    top: 0;
    bottom: 0;
  }

  .mfp-img-mobile .mfp-figure small {
    display: inline;
    margin-left: 5px;
  }

  .mfp-img-mobile .mfp-bottom-bar {
    background: rgba(0, 0, 0, 0.6);
    bottom: 0;
    margin: 0;
    top: auto;
    padding: 3px 5px;
    position: fixed;
    box-sizing: border-box;
  }

  .mfp-img-mobile .mfp-bottom-bar:empty {
    padding: 0;
  }

  .mfp-img-mobile .mfp-counter {
    right: 5px;
    top: 3px;
  }

  .mfp-img-mobile .mfp-close {
    top: 0;
    right: 0;
    width: 35px;
    height: 35px;
    line-height: 35px;
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    text-align: center;
    padding: 0;
  }
}
@media all and (max-width: 900px) {
  .mfp-arrow {
    -webkit-transform: scale(0.75);
    transform: scale(0.75);
  }

  .mfp-arrow-left {
    -webkit-transform-origin: 0;
    transform-origin: 0;
  }

  .mfp-arrow-right {
    -webkit-transform-origin: 100%;
    transform-origin: 100%;
  }

  .mfp-container {
    padding-left: 6px;
    padding-right: 6px;
  }
}
/**
 * Owl Carousel v2.3.4
 * Copyright 2013-2018 David Deutsch
 * Licensed under: SEE LICENSE IN https://github.com/OwlCarousel2/OwlCarousel2/blob/master/LICENSE
 */
/*
 *  Owl Carousel - Core
 */
.owl-carousel {
  display: none;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
  /* position relative and z-index fix webkit rendering fonts issue */
  position: relative;
  z-index: 1;
}

.owl-carousel .owl-stage {
  position: relative;
  -ms-touch-action: pan-Y;
  touch-action: manipulation;
  -moz-backface-visibility: hidden;
  /* fix firefox animation glitch */
}

.owl-carousel .owl-stage:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.owl-carousel .owl-stage-outer {
  position: relative;
  overflow: hidden;
  /* fix for flashing background */
  -webkit-transform: translate3d(0px, 0px, 0px);
}

.owl-carousel .owl-wrapper,
.owl-carousel .owl-item {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
}

.owl-carousel .owl-item {
  position: relative;
  min-height: 1px;
  float: left;
  -webkit-backface-visibility: hidden;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}

.owl-carousel .owl-item img {
  display: block;
  width: 100%;
}

.owl-carousel .owl-nav.disabled,
.owl-carousel .owl-dots.disabled {
  display: none;
}

.owl-carousel .owl-nav .owl-prev,
.owl-carousel .owl-nav .owl-next,
.owl-carousel .owl-dot {
  cursor: pointer;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.owl-carousel .owl-nav button.owl-prev,
.owl-carousel .owl-nav button.owl-next,
.owl-carousel button.owl-dot {
  background: none;
  color: inherit;
  border: none;
  padding: 0 !important;
  font: inherit;
}

.owl-carousel.owl-loaded {
  display: block;
}

.owl-carousel.owl-loading {
  opacity: 0;
  display: block;
}

.owl-carousel.owl-hidden {
  opacity: 0;
}

.owl-carousel.owl-refresh .owl-item {
  visibility: hidden;
}

.owl-carousel.owl-drag .owl-item {
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.owl-carousel.owl-grab {
  cursor: move;
  cursor: grab;
}

.owl-carousel.owl-rtl {
  direction: rtl;
}

.owl-carousel.owl-rtl .owl-item {
  float: right;
}

/* No Js */
.no-js .owl-carousel {
  display: block;
}

/*
 *  Owl Carousel - Animate Plugin
 */
.owl-carousel .animated {
  animation-duration: 1000ms;
  animation-fill-mode: both;
}

.owl-carousel .owl-animated-in {
  z-index: 0;
}

.owl-carousel .owl-animated-out {
  z-index: 1;
}

.owl-carousel .fadeOut {
  animation-name: fadeOut;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/*
 * 	Owl Carousel - Auto Height Plugin
 */
.owl-height {
  transition: height 500ms ease-in-out;
}

/*
 * 	Owl Carousel - Lazy Load Plugin
 */
.owl-carousel .owl-item {
  /**
  	This is introduced due to a bug in IE11 where lazy loading combined with autoheight plugin causes a wrong
  	calculation of the height of the owl-item that breaks product layouts
   */
}

.owl-carousel .owl-item .owl-lazy {
  opacity: 0;
  transition: opacity 400ms ease;
}

.owl-carousel .owl-item .owl-lazy[src^=""], .owl-carousel .owl-item .owl-lazy:not([src]) {
  max-height: 0;
}

.owl-carousel .owl-item img.owl-lazy {
  transform-style: preserve-3d;
}

/*
 * 	Owl Carousel - Video Plugin
 */
.owl-carousel .owl-video-wrapper {
  position: relative;
  height: 100%;
  background: #000;
}

.owl-carousel .owl-video-play-icon {
  position: absolute;
  height: 80px;
  width: 80px;
  left: 50%;
  top: 50%;
  margin-left: -40px;
  margin-top: -40px;
  background: url("owl.video.play.png") no-repeat;
  cursor: pointer;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  transition: transform 100ms ease;
}

.owl-carousel .owl-video-play-icon:hover {
  -ms-transform: scale(1.3, 1.3);
  transform: scale(1.3, 1.3);
}

.owl-carousel .owl-video-playing .owl-video-tn,
.owl-carousel .owl-video-playing .owl-video-play-icon {
  display: none;
}

.owl-carousel .owl-video-tn {
  opacity: 0;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: opacity 400ms ease;
}

.owl-carousel .owl-video-frame {
  position: relative;
  z-index: 1;
  height: 100%;
  width: 100%;
}

.hero {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  background-image: url("../images/background-home.jpg");
  background-size: cover;
  background-position: top center;
}
.hero::before {
  position: absolute;
  top: 0;
  right: 0;
  width: 23.5%;
  height: 50%;
  background-image: url("../images/imagem-petalas-01.png");
  background-size: contain;
  background-position: right top;
  background-repeat: no-repeat;
  content: "";
  z-index: 2;
}
.hero::after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 14.5%;
  height: 35%;
  background-image: url("../images/imagem-petalas-02.png");
  background-size: contain;
  background-position: left bottom;
  background-repeat: no-repeat;
  content: "";
  z-index: 2;
}
.hero__divider {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
.hero__container {
  position: relative;
  max-width: 66.5rem;
  width: 100%;
  z-index: 5;
}
.hero__container__header h2 {
  font-size: 11.2rem;
  color: var(--clr-primary-500);
}
.hero__container__content {
  text-align: justify;
}
@media only screen and (max-width: 1440px) {
  .hero {
    background-image: url("../images/background-home-1440.jpg");
  }
  .hero::before {
    left: 0;
    width: 20.5%;
    height: 47%;
    background-image: url("../images/imagem-petalas-03.png");
    background-position: left top;
  }
  .hero::after {
    bottom: -5rem;
    left: initial;
    right: 0;
    width: 14.5%;
    height: 35%;
    background-image: url("../images/imagem-petalas-04.png");
    background-position: right bottom;
  }
}
@media only screen and (max-width: 1024px) {
  .hero {
    background-position: 75% center;
  }
}
@media only screen and (max-width: 768px) {
  .hero {
    background-position: 85% center;
  }
  .hero::before {
    width: 26rem;
    height: 35rem;
  }
  .hero::after {
    width: 20rem;
    height: 30rem;
  }
  .hero__container {
    max-width: 52rem;
  }
}
@media only screen and (max-width: 576px) {
  .hero::before {
    width: 18rem;
    height: 28rem;
  }
  .hero::after {
    width: 16rem;
    height: 36rem;
  }
}

/*# sourceMappingURL=style.css.map */
