@use "../../abstracts" as *;

.gallery{
  &__row{
    width: 100%;
    grid-template-columns: repeat(4, 1fr);

    &__card{
      position: relative;
      width: 100%;
      min-height: 100%;
      height: 30rem;
      transform: scale(1);
      @include transition(transform);

      &:hover{
        filter:blur(1px);
        transform: scale(.98);
      }

      &:nth-child(2){
        grid-row: 1/3;
        grid-column: 2/3;
      }

      &:nth-child(6){
        grid-column: 3/5;
      }
    }
  }

  //breakpoint 1024px
  @include bp(1024px){
    &__row{
      grid-template-columns: repeat(3, 1fr);

      &__card{
        height: 20rem;

        &:nth-child(2){
          grid-row: initial;
          grid-column: 2/4;
        }

        &:nth-child(4){
          grid-row: 2/4;
          grid-column: 3/4;
        }

        &:nth-child(5){
          grid-row: 2;
          grid-column: 2/3;
        }

        &:nth-child(6){
          grid-column: 1/3;
        }
      }
    }
  }

  //breakpoint mobile
  @include mq(sm){
    &__row{
      grid-template-columns: repeat(2, 1fr);

      &__card{
        grid-row: initial !important;
        grid-column: initial !important;
      }
    }
  }
}