@use "../../abstracts" as *;

.hero{
  position: relative;

  &__row{
    grid-template-columns: 60% 40%;

    &__cta{
      position: relative;
      display: flex;
      justify-content: center;
      align-items: flex-end;

      &::after{
        position: absolute;
        bottom: 0;
        right: var(--gap);
        content: '';
        max-width: 44rem;
        width: 100%;
        max-height: 21rem;
        height: 100%;
        background:{
          image: url('../svg/vt-grid.svg');
          size: contain;
          repeat: no-repeat;
        }
        z-index: -1;
      }

      a{
        margin-bottom: -3.25rem;
      }
    }
  }

  &__image{
    max-height: 63rem;
    height: 100%;
  }

  //breakpoint tablet
  @include mq(md){
    &__row{
      padding-bottom: var(--fs-600);
      grid-template-columns: 1fr;

      &__content{
        padding-bottom: 0;
      }

      &__cta{
        justify-content: flex-start;

        &::after{
          display: none;
        }

        a{
          margin-bottom: 0;
        }
      }
    }

    &__image{
      height: 35rem;
    }
  }

  //breakpoint mobile
  @include mq(sm){
    &__image{
      height: 25rem;
    }
  }
}